body {
    background-color: #FFFFFF;
}

#stopwatch {
    position: absolute;
    padding-right: 25px;
    right: 0;
    height: 50px;
    line-height: 50px;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
}